<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- TODO: CDN bootstrap css. -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-cyborg.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{ Html.RenderPartial("_Navbar"); }
    @* @RenderPage("_Navbar.cshtml"); ---Using RenderPartial instead. *@
    <div class="container-fluid full-viewport">
        @RenderSection("header", false)
        @RenderBody()
        @RenderSection("footer", false)
    </div>
    <!-- TODO: CDN with fallback jQuery and Bootstrap js. -->
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/navbar.js"></script>
    @RenderSection("script", false)
</body>
</html>